body
{
    min-width: 960px;
}

.container_24 
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    min-width: 960px;
}

.container_32
{
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    min-width: 1280px;
}

.container_34
{
    margin-left: auto;
    margin-right: auto;
    width: 1360px;
    min-width: 1360px;
}

.container_36 
{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    min-width: 1440px;
}


.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24, .grid_25, .grid_26, .grid_27, .grid_28, .grid_29, .grid_30, .grid_31, .grid_32, .grid_33, .grid_34, .grid_35, .grid_36
{
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12, .push_13, .pull_13, .push_14, .pull_14, .push_15, .pull_15, .push_16, .pull_16, .push_17, .pull_17, .push_18, .pull_18, .push_19, .pull_19, .push_20, .pull_20, .push_21, .pull_21, .push_22, .pull_22, .push_23, .pull_23, .push_24, .pull_24, .push_25, .pull_25, .push_26, .pull_26, .push_27, .pull_27, .push_28, .pull_28, .push_29, .pull_29, .push_30, .pull_30, .push_31, .pull_31, .push_32, .pull_32, .push_33, .pull_33, .push_34, .pull_34, .push_35, .pull_35
{
    position: relative;
}
.alpha
{
    margin-left: 0;
}
.omega
{
    margin-right: 0;
}
.container_24 .grid_1, .container_32 .grid_1, .container_34 .grid_1, .container_36 .grid_1
{
    width: 30px;
}
.container_24 .grid_2, .container_32 .grid_2, .container_34 .grid_2, .container_36 .grid_2
{
    width: 70px;
}
.container_24 .grid_3, .container_32 .grid_3, .container_34 .grid_3, .container_36 .grid_3
{
    width: 110px;
}
.container_24 .grid_4, .container_32 .grid_4, .container_34 .grid_4, .container_36 .grid_4
{
    width: 150px;
}
.container_24 .grid_5, .container_32 .grid_5, .container_34 .grid_5, .container_36 .grid_5 
{
    width: 190px;
}
.container_24 .grid_6, .container_32 .grid_6, .container_34 .grid_6, .container_36 .grid_6
{
    width: 230px;
}
.container_24 .grid_7, .container_32 .grid_7, .container_34 .grid_7, .container_36 .grid_7
{
    width: 270px;
}
.container_24 .grid_8, .container_32 .grid_8, .container_34 .grid_8, .container_36 .grid_8
{
    width: 310px;
}
.container_24 .grid_9, .container_32 .grid_9, .container_34 .grid_9, .container_36 .grid_9
{
    width: 350px;
}
.container_24 .grid_10, .container_32 .grid_10, .container_34 .grid_10, .container_36 .grid_10
{
    width: 390px;
}
.container_24 .grid_11, .container_32 .grid_11, .container_34 .grid_11, .container_36 .grid_11
{
    width: 426px;
}
.container_24 .grid_12, .container_32 .grid_12, .container_34 .grid_12, .container_36 .grid_12
{
    width: 470px;
}
.container_24 .grid_13, .container_32 .grid_13, .container_34 .grid_13, .container_36 .grid_13
{
    width: 510px;
}
.container_24 .grid_14, .container_32 .grid_14, .container_34 .grid_14, .container_36 .grid_14
{
    width: 550px;
}
.container_24 .grid_15, .container_32 .grid_15, .container_34 .grid_15, .container_36 .grid_15
{
    width: 590px;
}
.container_24 .grid_16, .container_32 .grid_16, .container_34 .grid_16, .container_36 .grid_16
{
    width: 630px;
}
.container_24 .grid_17, .container_32 .grid_17, .container_34 .grid_17, .container_36 .grid_17
{
    width: 670px;
}
.container_24 .grid_18, .container_32 .grid_18, .container_34 .grid_18, .container_36 .grid_18
{
    width: 710px;
}
.container_24 .grid_19, .container_32 .grid_19, .container_34 .grid_19, .container_36 .grid_19
{
    width: 750px;
}
.container_24 .grid_20, .container_32 .grid_20, .container_34 .grid_20, .container_36 .grid_20
{
    width: 790px;
}
.container_24 .grid_21, .container_32 .grid_21, .container_34 .grid_21, .container_36 .grid_21
{
    width: 830px;
}
.container_24 .grid_22, .container_32 .grid_22, .container_34 .grid_22, .container_36 .grid_22
{
    width: 870px;
}
.container_24 .grid_23, .container_32 .grid_23, .container_34 .grid_23, .container_36 .grid_23
{
    width: 910px;
}
.container_24 .grid_24, .container_32 .grid_24, .container_34 .grid_24, .container_36 .grid_24
{
    width: 950px;
}
.container_32 .grid_25, .container_34 .grid_25, .container_36 .grid_25
{
    width: 990px;
}
.container_32 .grid_26, .container_34 .grid_26, .container_36 .grid_26
{
    width: 1030px;
}
.container_32 .grid_27, .container_34 .grid_27, .container_36 .grid_27
{
    width: 1070px;
}
.container_32 .grid_28, .container_34 .grid_28, .container_36 .grid_28
{
    width: 1110px;
}
.container_32 .grid_29, .container_34 .grid_29, .container_36 .grid_29
{
    width: 1150px;
}
.container_32 .grid_30, .container_34 .grid_30, .container_36 .grid_30
{
    width: 1190px;
}
.container_32 .grid_31, .container_34 .grid_31, .container_36 .grid_31
{
    width: 1230px;
}
.container_32 .grid_32, .container_34 .grid_32, .container_36 .grid_32
{
    width: 1270px;
}
 .container_34 .grid_33, .container_36 .grid_33
{
    width: 1310px;
}
 .container_34 .grid_1, .container_36 .grid_34
{
    width: 1350px;
}
.container_36 .grid_35
{
    width: 1390px;
}
.container_36 .grid_36
{
    width: 1430px;
}

.container_24 .prefix_1, .container_32 .prefix_1, .container_34 .prefix_1, .container_36 .prefix_1
{
    padding-left: 40px;
}
.container_24 .prefix_2, .container_32 .prefix_2, .container_34 .prefix_2, .container_36 .prefix_2
{
    padding-left: 80px;
}
.container_24 .prefix_3, .container_32 .prefix_3, .container_34 .prefix_3, .container_36 .prefix_3
{
    padding-left: 120px;
}
.container_24 .prefix_4, .container_32 .prefix_4, .container_34 .prefix_4, .container_36 .prefix_4
{
    padding-left: 160px;
}
.container_24 .prefix_5, .container_32 .prefix_5, .container_34 .prefix_5, .container_36 .prefix_5
{
    padding-left: 200px;
}
.container_24 .prefix_6, .container_32 .prefix_6, .container_34 .prefix_6, .container_36 .prefix_6
{
    padding-left: 240px;
}
.container_24 .prefix_7, .container_32 .prefix_7, .container_34 .prefix_7, .container_36 .prefix_7
{
    padding-left: 280px;
}
.container_24 .prefix_8, .container_32 .prefix_8, .container_34 .prefix_8, .container_36 .prefix_8
{
    padding-left: 320px;
}
.container_24 .prefix_9, .container_32 .prefix_9, .container_34 .prefix_9, .container_36 .prefix_9
{
    padding-left: 360px;
}
.container_24 .prefix_10, .container_32 .prefix_10, .container_34 .prefix_10, .container_36 .prefix_10
{
    padding-left: 400px;
}
.container_24 .prefix_11, .container_32 .prefix_11, .container_34 .prefix_11, .container_36 .prefix_11
{
    padding-left: 440px;
}
.container_24 .prefix_12, .container_32 .prefix_12, .container_34 .prefix_12, .container_36 .prefix_12
{
    padding-left: 480px;
}
.container_24 .prefix_13, .container_32 .prefix_13, .container_34 .prefix_13, .container_36 .prefix_13
{
    padding-left: 520px;
}
.container_24 .prefix_14, .container_32 .prefix_14, .container_34 .prefix_14, .container_36 .prefix_14
{
    padding-left: 560px;
}
.container_24 .prefix_15, .container_32 .prefix_15, .container_34 .prefix_15, .container_36 .prefix_15
{
    padding-left: 600px;
}
.container_24 .prefix_16, .container_32 .prefix_16, .container_34 .prefix_16, .container_36 .prefix_16
{
    padding-left: 640px;
}
.container_24 .prefix_17, .container_32 .prefix_17, .container_34 .prefix_17, .container_36 .prefix_17
{
    padding-left: 680px;
}
.container_24 .prefix_18, .container_32 .prefix_18, .container_34 .prefix_18, .container_36 .prefix_18
{
    padding-left: 720px;
}
.container_24 .prefix_19, .container_32 .prefix_19, .container_34 .prefix_19, .container_36 .prefix_19
{
    padding-left: 760px;
}
.container_24 .prefix_20, .container_32 .prefix_20, .container_34 .prefix_20, .container_36 .prefix_20
{
    padding-left: 800px;
}
.container_24 .prefix_21, .container_32 .prefix_21, .container_34 .prefix_21, .container_36 .prefix_21
{
    padding-left: 840px;
}
.container_24 .prefix_22, .container_32 .prefix_22, .container_34 .prefix_22, .container_36 .prefix_22
{
    padding-left: 880px;
}
.container_24 .prefix_23, .container_32 .prefix_23, .container_34 .prefix_23, .container_36 .prefix_23
{
    padding-left: 920px;
}
.container_32 .prefix_24, .container_34 .prefix_24, .container_36 .prefix_24
{
    padding-left: 960px;
}
.container_32 .prefix_25, .container_34 .prefix_25, .container_36 .prefix_25
{
    padding-left: 1000px;
}
.container_32 .prefix_26, .container_34 .prefix_26, .container_36 .prefix_26
{
    padding-left: 1040px;
}
.container_32 .prefix_27, .container_34 .prefix_27, .container_36 .prefix_27
{
    padding-left: 1080px;
}
.container_32 .prefix_28, .container_34 .prefix_28, .container_36 .prefix_28
{
    padding-left: 1120px;
}
.container_32 .prefix_29, .container_34 .prefix_29, .container_36 .prefix_29
{
    padding-left: 1160px;
}
.container_32 .prefix_30, .container_34 .prefix_30, .container_36 .prefix_30
{
    padding-left: 1200px;
}
.container_32 .prefix_31, .container_34 .prefix_31, .container_36 .prefix_31
{
    padding-left: 1240px;
}
.container_34 .prefix_33, .container_36 .prefix_32
{
    padding-left: 1280px;
}
.container_34 .prefix_33, .container_36 .prefix_33
{
    padding-left: 1320px;
}
.container_36 .prefix_34
{
    padding-left: 1360px;
}
.container_36 .prefix_35
{
    padding-left: 1400px;
}

.container_24 .suffix_1, .container_32 .suffix_1, .container_34 .suffix_1, .container_36 .suffix_1
{
    padding-right: 40px;
}
.container_24 .suffix_2, .container_32 .suffix_2, .container_34 .suffix_2, .container_36 .suffix_2
{
    padding-right: 80px;
}
.container_24 .suffix_3, .container_32 .suffix_3, .container_34 .suffix_3, .container_36 .suffix_3
{
    padding-right: 120px;
}
.container_24 .suffix_4, .container_32 .suffix_4, .container_34 .suffix_4, .container_36 .suffix_4
{
    padding-right: 160px;
}
.container_24 .suffix_5, .container_32 .suffix_5, .container_34 .suffix_5, .container_36 .suffix_5
{
    padding-right: 200px;
}
.container_24 .suffix_6, .container_32 .suffix_6, .container_34 .suffix_6, .container_36 .suffix_6
{
    padding-right: 240px;
}
.container_24 .suffix_7, .container_32 .suffix_7, .container_34 .suffix_7, .container_36 .suffix_7
{
    padding-right: 280px;
}
.container_24 .suffix_8, .container_32 .suffix_8, .container_34 .suffix_8, .container_36 .suffix_8
{
    padding-right: 320px;
}
.container_24 .suffix_9, .container_32 .suffix_9, .container_34 .suffix_9, .container_36 .suffix_9
{
    padding-right: 360px;
}
.container_24 .suffix_10, .container_32 .suffix_10, .container_34 .suffix_10, .container_36 .suffix_10
{
    padding-right: 400px;
}
.container_24 .suffix_11, .container_32 .suffix_11, .container_34 .suffix_11, .container_36 .suffix_11
{
    padding-right: 440px;
}
.container_24 .suffix_12, .container_32 .suffix_12, .container_34 .suffix_12, .container_36 .suffix_12
{
    padding-right: 480px;
}
.container_24 .suffix_13, .container_32 .suffix_13, .container_34 .suffix_13, .container_36 .suffix_13
{
    padding-right: 520px;
}
.container_24 .suffix_14, .container_32 .suffix_14, .container_34 .suffix_14, .container_36 .suffix_14
{
    padding-right: 560px;
}
.container_24 .suffix_15, .container_32 .suffix_15, .container_34 .suffix_15, .container_36 .suffix_15
{
    padding-right: 600px;
}
.container_24 .suffix_16, .container_32 .suffix_16, .container_34 .suffix_16, .container_36 .suffix_16
{
    padding-right: 640px;
}
.container_24 .suffix_17, .container_32 .suffix_17, .container_34 .suffix_17, .container_36 .suffix_17
{
    padding-right: 680px;
}
.container_24 .suffix_18, .container_32 .suffix_18, .container_34 .suffix_18, .container_36 .suffix_18
{
    padding-right: 720px;
}
.container_24 .suffix_19, .container_32 .suffix_19, .container_34 .suffix_19, .container_36 .suffix_19
{
    padding-right: 760px;
}
.container_24 .suffix_20, .container_32 .suffix_20, .container_34 .suffix_20, .container_36 .suffix_20
{
    padding-right: 800px;
}
.container_24 .suffix_21, .container_32 .suffix_21, .container_34 .suffix_21, .container_36 .suffix_21
{
    padding-right: 840px;
}
.container_24 .suffix_22, .container_32 .suffix_22,  .container_34 .suffix_22, .container_36 .suffix_22
{
    padding-right: 880px;
}
.container_24 .suffix_23, .container_32 .suffix_23,  .container_34 .suffix_23, .container_36 .suffix_23
{
    padding-right: 920px;
}
.container_32 .suffix_24, .container_32 .suffix_24, .container_34 .suffix_24
{
    padding-right: 960px;
}
.container_32 .suffix_25, .container_34 .suffix_25, .container_36 .suffix_25
{
    padding-right: 1000px;
}
.container_32 .suffix_26, .container_34 .suffix_26, .container_36 .suffix_26
{
    padding-right: 1040px;
}
.container_32 .suffix_27, .container_34 .suffix_27, .container_36 .suffix_27
{
    padding-right: 1080px;
}
.container_32 .suffix_28, .container_34 .suffix_28, .container_36 .suffix_28
{
    padding-right: 1120px;
}
.container_32 .suffix_29, .container_34 .suffix_29, .container_36 .suffix_29
{
    padding-right: 1160px;
}
.container_32 .suffix_30, .container_34 .suffix_30, .container_36 .suffix_30
{
    padding-right: 1200px;
}
.container_32 .suffix_31, .container_34 .suffix_31, .container_36 .suffix_31
{
    padding-right: 1240px;
}
.container_34 .suffix_32, .container_36 .suffix_32
{
    padding-right: 1280px;
}
.container_34 .suffix_33, .container_36 .suffix_33
{
    padding-right: 1320px;
}
.container_36 .suffix_34
{
    padding-right: 1360px;
}
.container_36 .suffix_35
{
    padding-right: 1400px;
}

.container_24 .push_1, .container_32 .push_1, .container_34 .push_1, .container_36 .push_1
{
    left: 40px;
}
.container_24 .push_2, .container_32 .push_2, .container_34 .push_2, .container_36 .push_2
{
    left: 80px;
}
.container_24 .push_3, .container_32 .push_3, .container_34 .push_3, .container_36 .push_3
{
    left: 120px;
}
.container_24 .push_4, .container_32 .push_4, .container_34 .push_4, .container_36 .push_4
{
    left: 160px;
}
.container_24 .push_5, .container_32 .push_5, .container_34 .push_5, .container_36 .push_5
{
    left: 200px;
}
.container_24 .push_6, .container_32 .push_6, .container_34 .push_6, .container_36 .push_6
{
    left: 240px;
}
.container_24 .push_7, .container_32 .push_7, .container_34 .push_7, .container_36 .push_7
{
    left: 280px;
}
.container_24 .push_8, .container_32 .push_8, .container_34 .push_8, .container_36 .push_8
{
    left: 320px;
}
.container_24 .push_9, .container_32 .push_9, .container_34 .push_9, .container_36 .push_9
{
    left: 360px;
}
.container_24 .push_10, .container_32 .push_10, .container_34 .push_10, .container_36 .push_10
{
    left: 400px;
}
.container_24 .push_11, .container_32 .push_11, .container_34 .push_11, .container_36 .push_11
{
    left: 440px;
}
.container_24 .push_12, .container_32 .push_12, .container_34 .push_12, .container_36 .push_12
{
    left: 480px;
}
.container_24 .push_13, .container_32 .push_13, .container_34 .push_13, .container_36 .push_13
{
    left: 520px;
}
.container_24 .push_14, .container_32 .push_14, .container_34 .push_14, .container_36 .push_14
{
    left: 560px;
}
.container_24 .push_15, .container_32 .push_15, .container_34 .push_15, .container_36 .push_15
{
    left: 600px;
}
.container_24 .push_16, .container_32 .push_16, .container_34 .push_16, .container_36 .push_16
{
    left: 640px;
}
.container_24 .push_17, .container_32 .push_17, .container_34 .push_17, .container_36 .push_17
{
    left: 680px;
}
.container_24 .push_18, .container_32 .push_18, .container_34 .push_18, .container_36 .push_18
{
    left: 720px;
}
.container_24 .push_19, .container_32 .push_19, .container_34 .push_19, .container_36 .push_19
{
    left: 760px;
}
.container_24 .push_20, .container_32 .push_20, .container_34 .push_20, .container_36 .push_20
{
    left: 800px;
}
.container_24 .push_21, .container_32 .push_21, .container_34 .push_21, .container_36 .push_21
{
    left: 840px;
}
.container_24 .push_22, .container_32 .push_22, .container_34 .push_22, .container_36 .push_22
{
    left: 880px;
}
.container_24 .push_23, .container_32 .push_23, .container_34 .push_23, .container_36 .push_23
{
    left: 920px;
}
.container_32 .push_24, .container_34 .push_24, .container_36 .push_24
{
    left: 960px;
}
.container_32 .push_25, .container_34 .push_25, .container_36 .push_25
{
    left: 1000px;
}
.container_32 .push_26, .container_34 .push_26, .container_36 .push_26
{
    left: 1040px;
}
.container_32 .push_27, .container_34 .push_27, .container_36 .push_27
{
    left: 1080px;
}
.container_32 .push_28, .container_34 .push_28, .container_36 .push_28
{
    left: 1120px;
}
.container_32 .push_29, .container_34 .push_29, .container_36 .push_29
{
    left: 1160px;
}
.container_32 .push_30, .container_34 .push_30, .container_36 .push_30
{
    left: 1200px;
}
.container_32 .push_31, .container_34 .push_31, .container_36 .push_31
{
    left: 1240px;
}
.container_34 .push_32, .container_36 .push_32
{
    left: 1280px;
}
.container_34 .push_33, .container_36 .push_33
{
    left: 1320px;
}
.container_36 .push_34
{
    left: 1360px;
}
.container_36 .push_35
{
    left: 1400px;
}

.container_24 .pull_1, .container_32 .pull_1,  .container_34 .pull_1, .container_36 .pull_1
{
    left: -40px;
}
.container_24 .pull_2, .container_32 .pull_2, .container_34 .pull_2, .container_36 .pull_2
{
    left: -80px;
}
.container_24 .pull_3, .container_32 .pull_3, .container_34 .pull_3, .container_36 .pull_3
{
    left: -120px;
}
.container_24 .pull_4, .container_32 .pull_4, .container_34 .pull_4, .container_36 .pull_4
{
    left: -160px;
}
.container_24 .pull_5, .container_32 .pull_5, .container_34 .pull_5, .container_36 .pull_5
{
    left: -200px;
}
.container_24 .pull_6, .container_32 .pull_6, .container_34 .pull_6, .container_36 .pull_6
{
    left: -240px;
}
.container_24 .pull_7, .container_32 .pull_7, .container_34 .pull_7, .container_36 .pull_7
{
    left: -280px;
}
.container_24 .pull_8, .container_32 .pull_8, .container_34 .pull_8, .container_36 .pull_8
{
    left: -320px;
}
.container_24 .pull_9, .container_32 .pull_9, .container_34 .pull_9, .container_36 .pull_9
{
    left: -360px;
}
.container_24 .pull_10, .container_32 .pull_10, .container_34 .pull_10, .container_36 .pull_10
{
    left: -400px;
}
.container_24 .pull_11, .container_32 .pull_11, .container_34 .pull_11, .container_36 .pull_11
{
    left: -440px;
}
.container_24 .pull_12, .container_32 .pull_12, .container_34 .pull_12, .container_36 .pull_12
{
    left: -480px;
}
.container_24 .pull_13, .container_32 .pull_13, .container_34 .pull_13, .container_36 .pull_13
{
    left: -520px;
}
.container_24 .pull_14, .container_32 .pull_14, .container_34 .pull_14, .container_36 .pull_14
{
    left: -560px;
}
.container_24 .pull_15, .container_32 .pull_15, .container_34 .pull_15, .container_36 .pull_15
{
    left: -600px;
}
.container_24 .pull_16, .container_32 .pull_16, .container_34 .pull_16, .container_36 .pull_16
{
    left: -640px;
}
.container_24 .pull_17, .container_32 .pull_17, .container_34 .pull_17, .container_36 .pull_17
{
    left: -680px;
}
.container_24 .pull_18, .container_32 .pull_18, .container_34 .pull_18, .container_36 .pull_18
{
    left: -720px;
}
.container_24 .pull_19, .container_32 .pull_19, .container_34 .pull_19, .container_36 .pull_19
{
    left: -760px;
}
.container_24 .pull_20, .container_32 .pull_20, .container_34 .pull_20, .container_36 .pull_20
{
    left: -800px;
}
.container_24 .pull_21, .container_32 .pull_21, .container_34 .pull_21, .container_36 .pull_21
{
    left: -840px;
}
.container_24 .pull_22, .container_32 .pull_22, .container_34 .pull_22, .container_36 .pull_22
{
    left: -880px;
}
.container_24 .pull_23, .container_32 .pull_23, .container_34 .pull_23, .container_36 .pull_23
{
    left: -920px;
}
container_32 .pull_24, container_34 .pull_24, container_36 .pull_24
{
    left: -960px;
}
container_32 .pull_25, container_34 .pull_25, container_36 .pull_25
{
    left: -1000px;
}
container_32 .pull_26, container_34 .pull_26, container_36 .pull_26
{
    left: -1040px;
}
container_32 .pull_27, container_34 .pull_27, container_36 .pull_27
{
    left: -1080px;
}
container_32 .pull_28, container_34 .pull_28, container_36 .pull_28
{
    left: -1120px;
}
container_32 .pull_29, container_34 .pull_29, container_36 .pull_29
{
    left: -1160px;
}
container_32 .pull_30, container_34 .pull_30, container_36 .pull_30
{
    left: -1200px;
}
container_32 .pull_31, container_34 .pull_31, container_36 .pull_31
{
    left: -1240px;
}
container_34 .pull_32, container_36 .pull_32
{
    left: -1280px;
}
container_34 .pull_33, container_36 .pull_33
{
    left: -1320px;
}
container_36 .pull_34
{
    left: -13600px;
}
container_36 .pull_35
{
    left: -1400px;
}

.clear
{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:before, .clearfix:after
{
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after
{
    clear: both;
}
.clearfix
{
    zoom: 1;
}
