<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Administrator,DN Transmittal Editor,DN Transmittal Viewer" />
      <deny users="*" />
    </authorization>
  </system.web>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="DNTransmittalInquiry.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator,DN Transmittal Editor,DN Transmittal Viewer" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="DNTransmittalReceipt.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator,DN Transmittal Editor" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
