<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Administrator,Customer Window,Kanban Uploader" />
      <deny users="*" />
    </authorization>
  </system.web>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="SOImportADM.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator,Customer Window,Kanban Uploader" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="SOImportHPM.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator,Customer Window,Kanban Uploader" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="SOImportStandard.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator,Customer Window,Kanban Uploader" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="SOImportTAM.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator,Customer Window,Kanban Uploader" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="SOImportOESADM.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator,Customer Window,Kanban Uploader" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="SOKanbanInquiry.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator,Customer Window,Kanban Uploader" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
